html,body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
body{
   background-color: #202020;
   display: flex;
   flex-flow: column;
   align-items: center;
   position: relative;
}
html,body::-webkit-scrollbar{
    width: 0;
}
.top__contentbg{
    height: 80px;
    width: 100%;
    position: absolute;
    background-color: #151515;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
   }
.header__right{
    width: 300px;
    display: flex;
    height: 100%;
    align-items: center;
}
.header__left{
    width: 450px;
    display: flex;
    height: 100%;
    align-items: center;
}
.logotype{
    width: 80px;
    height: 80px;
}
@font-face{
    src: url('../font/Manrope-VariableFont_wght.ttf');
    font-family: 'SuperWebcomic';
    font-weight: normal;
    font-style: normal;
    text-transform: lowercase;
}
.link{
 font-family: 'SuperWebcomic';
 color: #fff;
 font-weight: 650;
 font-size: 17px;
 letter-spacing: 1px;
 transition: 0.3s;
}
.link:hover{
color: #999;
}
.header__list{
    display: flex;
    margin-right: 50px;
}
.header__list a{
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.studio{
 color: #bd7aff;
}
.order__form-wrapper{
    width: 1280px;
    height: 440px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order__form{
    background-color: #151515;
    width: 350px;
    height: 460px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.order__title{
    font-family: 'SuperWebcomic';
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    display: flex;
}
.form{
    width: 300px;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.input__name{
    width: 250px;
    height: 30px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid gray;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    font-family: 'SuperWebcomic';
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}
.input__email{
    width: 250px;
    height: 30px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid gray;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    font-family: 'SuperWebcomic';
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}
.input__order-type{
    width: 250px;
    height: 30px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid gray;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    font-family: 'SuperWebcomic';
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}
.input__description{
    max-width: 250px;
    max-height: 100px;
    min-width: 250px;
    min-height: 100px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid gray;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    font-family: 'SuperWebcomic';
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    padding-top: 10px;
}
.input__price,.input__deadline{
    width: 250px;
    height: 30px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid gray;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    font-family: 'SuperWebcomic';
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}
.ruble{
    font-weight: 700;
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
    font-family: 'SuperWebcomic';
    position: absolute;
    margin-left: 275px;
    margin-top: 265px;
}
.burger__wrapper{
    display: none;
}
.order__btn{
height: 30px;
width: 150px;
margin-top: 10px;
font-family: 'SuperWebcomic';
border-radius: 5px;
letter-spacing: 1px;
font-weight: 700;
color: #fff;
background-color: #bd7aff;
margin: 0 auto;
transition: 0.3s;
}
.order__btn:hover{
    opacity: 0.7;
}
.load__layout{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'SuperWebcomic';
    background-color: #bd7aff;
}
.load__tz{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'SuperWebcomic';
    background-color: #bd7aff;
}
input[placeholder]{
    font-weight: 550;
}
textarea[placeholder]{
    font-weight: 550;
}
.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    filter: invert();
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
   
  .input__file-button-text {
    line-height: 1;
    margin-top: 1px;
  }
   
  .input__file-button {
    width: 100%;
    max-width: 200px;
    height: 30px;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'SuperWebcomic';
    background-color: #bd7aff;
    letter-spacing: 1px;
    margin-top: 10px;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.tz{
    font-weight: 700;
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
    font-family: 'SuperWebcomic';
    position: absolute;
    margin-left: 215px;
    margin-top: 345px;
}
.footer{
    width: 100%;
    height: 150px;
    background-color: #151515;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.footerbg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #151515;
    z-index: -1;
    margin-top: 1910px;
}
.footer__logo{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.org__name{
    color: #fff;
    font-family: 'SuperWebcomic';
    letter-spacing: 1px;
    align-self: center;
    position: absolute;
    margin-top: 60px;
}
.footer__wrapper{
    width: 280px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.terms{
 color: gray;
 font-family: 'SuperWebcomic';
 letter-spacing: 1px;
 position: absolute;
 margin-top: 80px;
 font-size: 12px;
 transition: 0.3s;
}
.copy{
    margin-top: 100px;
}
.terms:hover{
    opacity: 0.8;
}
@media(max-width: 723px){
    .link{
        display: none;
    }
    .burger__wrapper{
        display: flex;
        flex-flow: column;
        height: 40px;
        width: 45px;
        transition: .3s;
        position: relative;
        cursor: pointer;
    }
    .header__list{
        justify-content: flex-end;
        width: 100%;
        margin-right: 20px;
    }
    .burger__wrapper::after,
    .burger__wrapper::before{
        content: '';
        height: 4px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        left: 0;
    }
    .burger__wrapper::before{
        top: 0;
        
    }
    .burger__wrapper > span{
        height: 4px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 19px;
    }
    .burger__wrapper::after{
        bottom: 0;
    }
    .image__place{
        display: none;
    }
    .description__place{
        width: 100%;
        justify-content: center;
    }
    .description{
        margin-right: 0;
        margin-left: 0;
    }
    .line{
        display: none;
    }
    .plug__two{
        width: 100%;
        display: flex;
        flex-flow: column;
        height: 1020px;
        align-items: center;
    }
    .plug__two > .website{
        margin-top: 5px;
    }
    .our__achievements-wrapper{
        display: flex;
        height: 1020px;
        flex-flow: column;
    }
    .our__facts-wrapper{
        display: flex;
        height: 355px;
    }
    .our__facts{
        height: 355px;
        width: 347px;
        margin-left: 7px;
    }
    .portfolio__work{
        width: 347px;
        height: 150px;
    }
    .our__portfolio{
        height: 650px;
    }
    }
    @media(max-width: 367px){
    .our__achievements{
        width: 260px;
    }
    .description{
        width: 260px;
    }
    .banner__title{
        font-size: 20px;
    }
    .our__facts{
        width: 260px;
        height: 450px;
    }
    .our__facts-wrapper{
        height: 450px;
    }
    .portfolio__work{
        width: 260px;
    }
    .portfolio__type{
        font-size: 15px;
    }
    .price{
        font-size: 13px;
    }
    }
    .burger{
            width: 200px;
            height: 100vh;
            background-color: #0E1418;
            flex-flow: column;
            display: none;
            position: fixed;
            z-index: 10;
            top: 0;
            right: 0;
            transition: 0.3s;   
    }
    .burger__close{
        flex-flow: column;
        height: 40px;
        width: 45px;
        position: relative;
        cursor: pointer;
        z-index: 20;
        display: none;
        margin-right: 10px;
    }
    .burger__close::after,
    .burger__close::before{
        content: '';
        height: 4px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        left: 0;
    }
    .burger__close::before{
        top: 0;
        
    }
    .burger__close > span{
        height: 4px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 19px;
    }
    .burger__close::after{
        bottom: 0;
    }
    .burger__controll{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .burger__content{
        width: 100%;
        height: 500px;
        display: flex;
        flex-flow: column;
    }
    .link__block{
        width: 100%;
        height: 40px;
        transition: .3s;
        color: #fff;
        font-family: 'SuperWebcomic';
        padding-left: 10px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: 650;
        letter-spacing: 1px;
    }
    .link__block:hover{
        background-color: #313233;
    }
    .link__block:focus{
        background-color: #313233;
    }
    .onpage{
        color: #bd7afe;
    }
    