{{ define "css" }}
<link rel="stylesheet" href="/static/css/styles.css">
{{ end }}

{{ define "burger" }}
<div class="burger__content">
    <a href="/" class="link__block onpage">Студия</a>
    <a href="/order" class="link__block">Заказать</a>
    <a href="/vacancy" class="link__block">Вакансии</a>
    <a href="/contacts" class="link__block">Контакты</a>
</div>
{{ end }}

{{ define "header" }}
<a href="/" class="link studio">Студия</a>
<a href="/order" class="link">Заказать</a>
<a href="/vacancy" class="link">Вакансии</a>
<a href="/contacts" class="link">Контакты</a>
{{ end }}

{{define "content"}}
<div class="top__content">

    <div class="about__us">

        <div class="banners">
            <div class="description__place">
                <div class="description">
                    <p class="banner__title">Быстро,качественно,</p>
                    <p class="banner__title bannersub">недорого</p>
                    <p class="banner__subtitle bannersubtitle">Разработаем веб-сайт, приложение, Discord / telegram бота и другое ПО. Абсолютно любой сложности!!!</p>
                    <a href="" class="order__btn">Заказать</a>
                </div>
            </div>
            <div class="image__place">
                <img src="" alt="Специальность" class="banner__one">
            </div>
        </div>
        <div class="banners-two">
            <div class="description__place">
                <div class="description">
                    <p class="banner__title">Быстро,качественно</p>
                    <p class="banner__title bannersub">недорого</p>
                    <p class="banner__subtitle bannersubtitle">Разработаем веб-сайт, приложение, Discord / telegram бота и другое ПО. Абсолютно любой сложности!!!</p>
                    <a href="" class="order__btn">Заказать</a>
                </div>
            </div>
            <div class="image__place">
                <img src="" alt="Специальность" class="banner__one">
            </div>
        </div>
    </div>
</div>


<div class="our__achievements-wrapper works">


    <div class="plug">
        <div class="our__achievements website">
            <p class="order__title">Поддержка проекта</p>
            <p class="order__description">Настоящие профессионалы будут поддерживать ваш проект.

            </p>
            <p class="order__price">От 1500 ₽ / мес</p>
            <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>
        </div>
        <div class="our__achievements website left">
            <p class="order__title">Разработка ботов</p>
            <p class="order__description">Боты для Telegram, VK
                Абсолютно любой сложности. <br>
            </p>
            <p class="order__price">От 2000 ₽</p>
            <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>
        </div>
        <div class="our__achievements website">
            <p class="order__title">Веб-разработка</p>
            <p class="order__description">Возьмемся за разработку сайта любой сложности для вашего проекта!
                <br>
            </p>
            <p class="order__price">От 2000 ₽</p>
            <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>

        </div>
        <div class="our__achievements website left">
            <p class="order__title">Разработка приложений</p>
            <p class="order__description">Разработка приложений  <br> под IOS / Android  на React Native
            </p>
            <p class="order__price">От 15.000 ₽</p>
            <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>
        </div>
    </div>

    <div class="plug__two">
        <div class="our__achievements website">
            <p class="order__title">Поддержка проекта</p>
            <p class="order__description">Настоящие профессионалы будут поддерживать ваш проект.
                поможем в абсолютно любой ситуации!!
            </p>
            <p class="order__price">От 1500 ₽ / мес</p>
            <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>
        </div>
        <div class="our__achievements website left">
            <p class="order__title">Разработка ботов</p>
            <p class="order__description">Боты для Telegram, VK
                Абсолютно любой сложности. <br>
            </p>
            <p class="order__price">От 2000 ₽</p>
            <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>
        </div>
        <div class="our__achievements website">
            <p class="order__title">Веб-разработка</p>
            <p class="order__description">Возьмемся за разработку сайта любой сложности для вашего проекта!
                <br>
            </p>
            <p class="order__price">От 2000 ₽</p>
            <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>

        </div>
        <div class="our__achievements website left">
            <p class="order__title">Разработка приложений</p>
            <p class="order__description">Разработка приложений  <br> под IOS / Android  на React Native
            </p>
            <p class="order__price">От 15.000 ₽</p>
            <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>
        </div>
    </div>
</div>


<div class="line">
    <div class="our__achievements website">
        <p class="order__title">Поддержка проекта</p>
        <p class="order__description">Настоящие профессионалы будут поддерживать ваш проект.
            поможем в абсолютно любой ситуации!!
        </p>
        <p class="order__price">От 1500 ₽ / мес</p>
        <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>
    </div>
    <div class="our__achievements website left">
        <p class="order__title">Разработка ботов</p>
        <p class="order__description">Боты для Telegram, VK
            Абсолютно любой сложности. <br>
        </p>
        <p class="order__price">От 2000 ₽</p>
        <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>
    </div>
</div>
<div class="line">
    <div class="our__achievements website">
        <p class="order__title">Веб-разработка</p>
        <p class="order__description">Возьмемся за разработку сайта любой сложности для вашего проекта!
            <br>
        </p>
        <p class="order__price">От 3000 ₽</p>
        <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>

    </div>
    <div class="our__achievements website left">
        <p class="order__title">Разработка приложений</p>
        <p class="order__description">Разработка приложений  <br> под IOS / Android  на React Native
        </p>
        <p class="order__price">От 15.000 ₽</p>
        <a href="/order" class="order__btn" style="margin-left: 15px;">Заказать</a>
    </div>
</div>
</div>

<div class="our__facts-wrapper about">
    <div class="our__facts">
        <p class="reliability">О нас</p>
        <div class="description__fact-wrapper">
            "FrontStudios" - студия разработчиков из России, сформированная в 2022 году. Несмотря на свой ранний возраст, студия уже успела поработать над крупными проектами.
            Нас всего шестеро, но мы готовы выполнять заказы любой сложности. Мы продолжаем искать в свою команду разработчиков и не только! Если вы хотите начать работу вместе с нами будем ждать вас!!! Все доступные вакансии находятся в соответствующем разделе.
        </div>
    </div>
</div>

<div class="our__portfolio-wrapper">
    <div class="our__portfolio">
        <div class="portfolio__column">
            <div class="portfolio__work">
                <p class="portfolio__title">StandoffOpen</p>
                <p class="portfolio__type">Тип работы: <span class="price">website</span></p>
                <p class="portfolio__type">Описание: <span class="price">Опен-кейс сайт</span></p>
                <a href="https://standoffopen.com/" class="work__link"><button href="" class="check__work">Просмотр работы</button></a>
            </div>
            <div class="portfolio__work">
                <p class="portfolio__title"></p>
                <p class="portfolio__type">Тип работы: <span class="price"></span></p>
                <p class="portfolio__type">Описание: <span class="price"></span></p>
                <a href="https://t.me/ggfun_bot" class="work__link"><button href="" class="check__work">Просмотр работы</button></a>
            </div>
        </div>

        <div class="portfolio__column">
            <div class="portfolio__work">
                <p class="portfolio__title">Film searcher</p>
                <p class="portfolio__type">Тип работы: <span class="price">bot</span></p>
                <p class="portfolio__type">Описание: <span class="price">Бот для поиска фильмов</span></p>
                <a href="https://t.me/kinopoisk_searcher_bot" class="work__link"><button href="" class="check__work">Просмотр работы</button></a>
            </div>
            <div class="portfolio__work">
                <p class="portfolio__title">Song searcher</p>
                <p class="portfolio__type">Тип работы: <span class="price">bot</span></p>
                <p class="portfolio__type">Описание: <span class="price"> Ищет трек по тексту</span></p>
                <a href="https://t.me/textvoices_bot" class="work__link"><button href="" class="check__work">Просмотр работы</button></a>
            </div>
        </div>
    </div>
</div>
{{end}}