{{ define "css" }}
<link rel="stylesheet" href="/static/css/vacancy.css">
{{end}}

{{ define "burger" }}
<div class="burger__content">
    <a href="/" class="link__block">Студия</a>
    <a href="/order" class="link__block">Заказать</a>
    <a href="/vacancy" class="link__block onpage">Вакансии</a>
    <a href="/contacts" class="link__block">Контакты</a>
</div>
{{ end }}

{{ define "header" }}
<a href="/" class="link">Студия</a>
<a href="/order" class="link">Заказать</a>
<a href="/vacancy" class="link studio">Вакансии</a>
<a href="/contacts" class="link">Контакты</a>
{{ end }}

{{define "content"}}
<div class="vacancies__wrapper">
    <div class="vacancies reactnative">
      <p class="vac__title">React-Native developer</p>
      <p class="vac__info">Ищем в свою команду разработчика приложений на React-Native под Android и IOS с хорошим пониманием своей работы.</p>
      <p class="vac__subtitle">Требования:</p>
      <p class="vac__info">Требуемый опыт: от 1 года</p>
      <p class="vac__info">График работы: свободный</p>
      <p class="vac__info">- Опыт с HTML/JS;</p>
      <p class="vac__info">- Понимание основ React / React Native;</p>
      <p class="vac__info">- Базовые знания GIT;</p>
      <p class="vac__info">- Понимание отличий платформ IOS / Android;</p>
      <p class="vac__info">- Базовые знания по тестированию</p>
      <p class="vac__price">Оплата: от 15.000₽ (за заказ)</p>
      <a href="https://vk.com/lonfich" class="vac__reponse" style="margin-top: 10px;">Откликнуться</a>
    </div>
    <div class="vacancies backend">
      <p class="vac__title">Back-end developer</p>
      <p class="vac__info">Ищем в свою команду креативного back-end разработчика с пониманием веб-разработки.</p>
      <p class="vac__subtitle">Требования:</p>
      <p class="vac__info">Требуемый опыт: от 8 месяцев</p>
      <p class="vac__info">График работы: свободный</p>
      <p class="vac__info">- Опыт с Python / Django (Junior+) ;</p>
      <p class="vac__info">- Опыт с Flask;</p>
      <p class="vac__info">- опыт с html;</p>
      <p class="vac__info">- Базовые знания GIT / Github;</p>
      <p class="vac__info">- Базовые знания по тестированию</p>
      <p class="vac__price">Оплата: от 2.000₽ (за заказ)</p>
      <a href="https://vk.com/lonfich" class="vac__reponse">Откликнуться</a>
    </div>
    <div class="vacancies frontend">
      <p class="vac__title">Front-end developer</p>
      <p class="vac__info">Ищем в свою команду креативного front-end разработчика с пониманием веб-разработки.</p>
      <p class="vac__subtitle">Требования:</p>
      <p class="vac__info">Требуемый опыт: от 1,5 года</p>
      <p class="vac__info">График работы: свободный</p>
      <p class="vac__info">- Опыт с HTML/CSS; (Senior) ;</p>
      <p class="vac__info">- Опыт c JS; (Middle+);</p>
      <p class="vac__info">- Базовые знания GIT / Github;</p>
      <p class="vac__info">- Знание JS Framework (Желательно React или Angular);</p>
      <p class="vac__info">- Умение работать с Figma;</p>
      <p class="vac__price">Оплата: от 2.000₽ (за заказ)</p>
      <a href="https://vk.com/lonfich" class="vac__reponse">Откликнуться</a>
    </div>
    <div class="vacancies manager">
     <p class="vac__title">PR-Manager</p>
     <p class="vac__info">Ищем в свою команду менеджера, который будет продвигать нашу организацию.</p>
     <p class="vac__subtitle">Требования:</p>
     <p class="vac__info">Требуемый опыт: от 8 месяцев</p>
     <p class="vac__info">График работы: от 5 часов в день</p>
     <p class="vac__info">- Знание Английского - B2;</p>
     <p class="vac__info">- Опыт работы с фриланс биржами;</p>
     <p class="vac__info">- Коммуникабельность</p>
     <p class="vac__info">- Знание Русского языка - C2</p>
     <p class="vac__info">- Умение работать с WORD / Google excel</p>
     <p class="vac__price">Оплата: 1500₽ / мес (+10% от заказа)</p>
     <a href="https://vk.com/lonfich" class="vac__reponse">Откликнуться</a>
    </div>
</div>
{{end}}